{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">

    <div class="parent-breakcrumbs">
        <div class="container">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="/vn/">Trang chủ</a></li>
                    <li><span class="icon-breadcrumb"></span></li>
                    <li><a href="/vn/">Giới Thiệu</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="container">
            <div class="row p-4">
                <div class="col-sm-12">
                    <div class="row bg-about">
                        <div class="col-sm-6">
                            <img class="d-lg-none d-xl-block" src="http://localhost:3000/images/about-tony.jpg">
                            <div class="watch-video" data-toggle="modal" data-target="#ModalVideo">

                            </div>
                            <!-- Modal -->
                            <div class="modal fade modal-center" id="ModalVideo" role="dialog">
                                <div class="modal-dialog  modal-lg">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header-1">
                                            <button type="button" class="close" data-dismiss="modal"><img width="40" src="/images/close.png"/></button>
                                        </div>
                                        <div class="modal-body">
                                            <video width="100%" height="auto" controls="" id="video-about01" poster="/images/bg-about.jpg">
                                                        <source src="https://www.imm.group/uploads/video/videoplayback_3.mp4" type="video/mp4">
                                                        Your browser does not support the video tag.
                                                    </video>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <h2 class="title-border mt-3 mb-4">Lịch Sử</h2>
                            <div class="left-about p-5 mb-5">
                                Năm 2004, ông Trần Văn Tỉnh (sáng lập viên của IMM Group) có cung cấp dịch vụ tư vấn đầu tư cho một khách hàng Canada muốn thành lập văn phòng đại diện tại Việt Nam. Qua cuộc gặp trên, ông đã thu thập được nhiều thông tin về chương trình nhập cư của các
                                nước Mỹ, Úc, Canada và châu Âu. Từ nền tảng đó, Immigration (Công ty đầu tiên của IMM Group) đã ra đời vào năm 2005. Ở thời điểm này, khái niệm di dân đầu tư còn khá mới mẻ. Do đó, có thể nói Immigration là một trong những
                                đơn vị tiên phong trong việc triển khai các chương trình định cư nước ngoài này tại Việt Nam. Đến nay, sau hơn 10 năm phát triển, Công ty Immigration đã chính thức lấy tên IMM Immigration, đồng thời IMM Group cũng phát
                                triển các công ty thành viên về quản lý bất động sản, tư vấn đầu tư ra nước ngoài, dịch vụ tài chính kế toán. Hiện IMM Group có 7 văn phòng ở thành phố Hồ Chí Minh, Hà Nội, Hải Phòng và Singapore, Melbourne (Úc), Frederiction
                                (Canada), Buena Park(Mỹ); cùng với mạng lưới đối tác với các chuyên viên trên toàn cầu trên nhiều lĩnh vực: luật, giáo dục, du lịch, tài chính, bất động sản.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mission text-justify text-white pt-5 pb-5">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title-border mt-3 mb-4 text-white">Tầm nhìn - Sứ mệnh - Chiến lược</h2>
                    <div>
                        <p>IMM Group tập trung vào yếu tố bền vững trong việc phát triển doanh nghiệp, nâng cao chất lượng và giá trị nguồn nhân lực, đồng thời đóng góp thiết thực cho lợi ích cộng đồng. Chúng tôi đặt ra ba sứ mệnh chính cho mục đích tồn
                            tại của mình: 1) Phát triển bền vững, trở thành một tập đoàn xứng tầm châu Á; 2) Phát triển giá trị cá nhân của từng thành viên, gắn kết với giá trị của tập đoàn; 3) Góp phần nâng cao giá trị doanh nhân Việt trên thương trường
                            quốc tế và xây dựng quỹ IMM để thực hiện trách nhiệm cộng đồng.</p>
                        <p>Để hoàn thành ba sứ mệnh trên, chúng tôi thực hiện chiến lược phát triển cụ thể cho tập đoàn cũng như các doanh nghiệp thành viên như sau:</p>
                    </div>
                    <div class="row pt-4">
                        <div class="col-sm-6">
                            <h3 class="text-white h4 font-weight-bold">1. Phát triển bền vững, trở thành một tập đoàn xứng tầm châu Á:</h3>
                            <p>Sự phát triển bền vững ở đây bao gồm bền vững về mặt tài chính, bền vững về yếu tố con người và bền vững về chất lượng sản phẩm, dịch vụ.</p>
                            <p>Tài chính là một trong những yếu tố quan trọng nhất trong cuộc sống. Việc kinh doanh của IMM Group cũng không nằm ngoài quy luật này. Một trong những mục đích của sự tồn tại là kinh doanh sinh lợi để có tài chính vững mạnh.
                                Chỉ có tài chính vững mạnh mới có thể hỗ trợ nhân viên có cuộc sống đầy đủ về vật chất, sau đó là giúp đỡ cộng đồng và nâng cao vị thế doanh nghiệp xứng tầm châu Á.</p>
                            <p>Tuy nhiên, sự phát triển bền vững không thể có nếu chỉ dựa vào yếu tố tài chính mà còn phụ thuộc vào chất lượng sản phẩm, dịch vụ và yếu tố con người bao gồm đạo đức và sự chuyên nghiệp. Những yếu tố này góp phần xây dựng niềm
                                tin nơi khách hàng, tạo ra uy tín cũng như giá trị cho thương hiệu IMM.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="/images/su-menh-immgroup.jpg" />
                            <p><small class="text-small"><strong>Ban điều hành IMM Group</strong></small></p>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-sm-6">
                            <h3 class="text-white h4 font-weight-bold">2. Phát triển giá trị cá nhân của từng thành viên, gắn kết với giá trị của tập đoàn:</h3>
                            <p>Tại IMM Group, chúng tôi hiểu rằng sự phát triển của từng thành viên kết hợp hài hòa giữa tố chất tốt của con người với các quy luật về đạo đức xã hội. Chúng tôi quan tâm đến yếu tố hạnh phúc của mỗi thành viên IMM dựa trên
                                lợi ích mà họ nhận được theo công việc và phát triển những giá trị sống của họ. Một trong những lý do công ty tồn tại là tạo điều kiện cho mỗi cá nhân trong công ty phát triển bản thân về sự nghiệp và những giá trị cao
                                cả như: tìm được mục đích sống có ý nghĩa, sống vui vẻ và có ích, tìm được niềm an vui trong cuộc sống. Từ đó, chúng tôi kết nối giá trị của mỗi cá nhân với nhau bằng giá trị của doanh nghiệp để cộng hưởng và lan tỏa ra
                                giá trị cộng đồng.
                            </p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="/images/su-menh-immgroup-1.jpg" />
                            <p><small class="text-small"><strong>Việc xây dựng giá trị của IMM Group lấy nền tảng từ việc phát triển giá trị
                                cho từng thành viên.</strong></small></p>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-sm-6">
                            <h3 class="text-white h4 font-weight-bold">3. Góp phần nâng cao giá trị doanh nhân Việt trên thương trường quốc tế và xây dựng quỹ IMM để thực hiện trách nhiệm cộng đồng:</h3>
                            <p>Với sự phát triển của mỗi cá nhân nói riêng và tập đoàn nói chung, tập thể IMM Group tin rằng chúng tôi có thể cùng nhau tạo ảnh hưởng lớn trong nước và quốc tế. Chúng tôi mong muốn góp phần nâng tầm giá trị người Việt, để
                                lại sự kế thừa cho mai sau. Từng cá nhân trong công ty sẽ là những thành viên thành đạt, là những người có tầm ảnh hưởng tích cực trong xã hội, từ đó góp phần phát triển xã hội và thế hệ tiếp theo. Quy luật của tầm ảnh
                                hưởng theo cấp số nhân sẽ giúp cho sự lan truyền tầm ảnh hưởng này ngày một lớn mạnh theo thời gian.</p>
                            <p>Khi có đủ điều kiện về mặt tài chính cũng như sự thành đạt, viên mãn trong cuộc sống, IMM Group cùng tập thể các thành viên có thể giúp đỡ cộng đồng nhiều hơn, thiết thực hơn bằng tài chính, bằng kinh nghiệm và kiến thức để
                                góp phần xây dựng một cuộc sống, một xã hội, một thế giới tốt đẹp hơn. Thông qua quỹ IMM, chúng tôi mong muốn đem lại những đóng góp thiết thực cho cộng đồng bằng các chương trình và các hoạt động từ thiện. Quỹ IMM hướng
                                đến việc nâng cao giá trị cho nhân viên về các vấn đề chung của xã hội, cũng như hỗ trợ về tài chính cho những đối tượng có hoàn cảnh khó khăn ở Việt Nam.</p>
                            <p>Niềm vui và hạnh phúc sẽ không thật sự tồn tại nếu những điều đó chỉ mang tính cá nhân, nhỏ nhặt, và ích kỷ. Niềm hạnh phúc sẽ không thật sự lâu dài nếu không có sự cống hiến và chia sẻ cho người khác. Niềm vui, hạnh phúc cuối
                                cùng lâu dài nhất là xây dựng những giá trị vượt ra khỏi phạm vi mỗi cá nhân và để lại sự kế thừa cho thế hệ sau.</p>
                            <p>IMM Group cam kết và tự nguyện trích 20% lợi nhuận hàng năm cho quỹ từ thiện IMM và đưa ra mục tiêu đạt được 1 triệu USD cho quỹ trước tháng 12 năm 2020.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="/images/su-menh-immgroup-2.jpg" />
                            <p><small class="text-small"><strong>Chương trình thiện nguyện "Mong em đến trường"</strong></small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="core-values pt-5 pb-5">
            <div class="container">
                <div class="col-sm-12">
                    <h2 class="title-border mt-3 mb-4">Giá trị cốt lõi</h2>
                    <div class="text-justify">
                        <p>IMM Group xem đạo đức và sự phát triển bền vững là giá trị cốt lõi của mình. Chúng tôi lấy giá trị thật từ bên trong tập thể và mỗi cá nhân làm nền tảng phục vụ khách hàng và đối tác. IMM Group hoạt động trên cơ sở tuân thủ pháp
                            luật, đề cao sự trung thực, chân thành trong mọi giao dịch. Về phía khách hàng, chúng tôi luôn chú trọng việc lắng nghe và xem khách hàng như người thân để cung cấp dịch vụ sao cho có lợi nhất cho họ. Về phía đối tác, chúng
                            tôi hướng đến việc xây dựng mối quan hệ chân thành, rõ ràng, có cùng giá trị, phát triển cùng có lợi, góp phần tối ưu hóa lợi ích khách hàng. Đối với cộng đồng, chúng tôi luôn ý thức đóng góp vào sự phát triển chung của xã
                            hội. Nền tảng của IMM Group là niềm tin nơi khách hàng và đối tác, thông qua những giá trị cốt lõi như sự thẳng thắn, tính minh bạch, tích cực, luôn đứng trên phương diện khách hàng, đối tác để thấu hiểu, sẻ chia, đồng cảm
                            cùng họ trong mọi trường hợp.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center pb-3">
                            <img src="/images/trust-about-vn-30-5.png" />
                        </div>
                        <div class="col-sm-6">
                            <div class="content-core-value text-justify">
                                <h3 class="h4 font-weight-bold mb-1">Giá trị tích cực</h3>
                                <ul class="mb-4">
                                    <li>Chúng tôi tin rằng kết quả tạo ra từ giá trị tích cực sẽ giúp cho mỗi cá nhân vượt qua những giới hạn của bản thân và lan toả lợi ích ra cộng đồng.</li>
                                    <li>Giá trị tích cực hướng đến sự đúng đắn, tính hiệu quả và chiến lược phát triển bền vững.</li>
                                </ul>
                                <h3 class="h4 font-weight-bold mb-1">Giá trị minh bạch</h3>
                                <ul class="mb-4">
                                    <li>Chúng tôi đặt giá trị minh bạch làm thước đo cho việc điều hành doanh nghiệp của mình nhằm đảm bảo uy tín thương hiệu và chất lượng cho từng sản phẩm, dịch vụ đến khách hàng.</li>
                                    <li>Giá trị minh bạch đòi hỏi phẩm chất ngay thẳng, sự nhất quán cũng như tính chuyên nghiệp của từng thành viên trong tập đoàn.</li>
                                </ul>
                                <h3 class="h4 font-weight-bold mb-1">Giá trị tận tâm</h3>
                                <ul class="mb-4">
                                    <li>Triết lý kinh doanh của chúng tôi xuất phát từ những giá trị nền tảng bên trong, được chuyển tải ra bên ngoài nhờ giá trị tận tâm.</li>
                                    <li>Giá trị tận tâm bắt nguồn từ việc thực hiện đúng cam kết, yếu tố nhân đạo trong hoạt động doanh nghiệp, cũng như ý chí mạnh mẽ để hoàn thành sứ mệnh đã đặt ra.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="our-philosophy pt-5 pb-5">
            <div class="container">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-3 col-sm-3">
                            <img class="" src="/images/insideout-30-5.png" />
                        </div>
                        <div class="col-sm-9 text-white">
                            <h2 class="title-border mt-3 mb-4 text-white">Triết lý kinh doanh</h2>
                            <div class="text-justify">
                                <p>Triết lý kinh doanh trong suốt hơn 10 năm hoạt động đã được IMM Group tổng hợp và đúc kết trong slogan “Inside Out”. Thông điệp này thể hiện đầy đủ các khía cạnh của tập đoàn, từ lịch sử, giá trị cốt lõi, văn hóa, sứ mệnh
                                    đến con người và các mối quan hệ đối nội, đối ngoại. Luôn có mối tương quan giữa các yếu tố nội tại của IMM Group với các yếu tố bên ngoài, tác động đến đường hướng phát triển của tập đoàn.</p>
                                <p>Xuất phát từ công việc của sáng lập viên, từ bán vé số đến giao báo, đến phục vụ bàn, đến việc khởi nghiệp từ căn phòng nhà trọ hầu như không có vốn vào năm 2005 (Inside), IMM Group đã tận dụng những khả năng nội tại để
                                    phát triển ra bên ngoài, không hạn chế trong một lĩnh vực hay khuôn khổ (Out).</p>
                                <p>Trong mối tương quan giữa triết lý “Inside Out” với giá trị, sứ mệnh, con người, khách hàng, IMM Group luôn lấy giá trị thật bên trong của mỗi cá nhân, sự phát triển của từng cá nhân bên trong tập thể và dùng giá trị chân
                                    chính, đạo đức (Inside) để kinh doanh, phục vụ khách hàng và để tạo dựng mối quan hệ với đối tác bên ngoài (Out).</p>
                                <p>Về sứ mệnh, IMM Group cũng cân bằng giữa những mục tiêu bên trong như tạo nên một tập đoàn mà trong đó mọi nhân viên đều hạnh phúc; thành lập quỹ từ thiện giúp đỡ những hoàn cảnh khó khăn trong nước (Inside) với các mục
                                    tiêu bên ngoài như mang lại sự hài lòng về dịch vụ; xây dựng một tập đoàn xứng tầm châu Á và nâng tầm người Việt so với thế giới (Out).</p>
                                <p>Về văn hóa, con người và lối sống, IMM Group định hướng phát triển từng cá nhân, lấy yếu tố con người bên trong tập đoàn, từ những điều nhỏ nhất như cách cư xử, cách đối đãi, khả năng trong công việc… (Inside) làm nền tảng
                                    cho sự thành công và phát triển của cả tập đoàn (Out).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="videoabout111" class="bg-video-about position-relative">
            <video width="100%" height="auto" loop="" controls="false" id="video-about1" poster="https://www.imm.group/uploads/bg/21-top-of-the-rock-observation-deck-new-york-city-new-york.jpg">
                <source src="https://www.imm.group/uploads/video/videoplayback_3.mp4" type="video/mp4">
            </video>
            <div class="center-position play-video"><img id="btnplay" class="center-position " src="/images/gray-play.png"></div>
        </div>

    </div>
</div>
</div>

</div>
{% endblock %}