{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">

    <div class="main-content bg-truyenthong pt-5 pb-5" style="background-image: url(/images/background-bandieuhanh.jpg);">
        <div class="container ">

            <div class="row bg-white">
                <div class="col-md-12 p-0">
                    <div class="parent-breakcrumbs">
                        <div class="container">
                            <div class="">
                                <ul class="breadcrumb">
                                    <li><a href="/vn/">TRANG CHỦ</a></li>
                                    <li><span class="icon-breadcrumb"></span></li>
                                    <li><a href="/vn/">ĐỐI TÁC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-leadership">
                                        <a href="#!"><img src="\images\tran-van-tinh.jpg" /></a>
                                        <div class="card-body-leadership">
                                            <h3 class="m-0 h4 font-weight-bold">TRẦN VĂN TỈNH | TONY</h3>
                                            <span>Founder - CEO of IMM Group</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>


        </div>
    </div>

</div>




{% endblock %}