{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">

    <div class="main-content bg-truyenthong pt-5 pb-5" style="background-image: url(/images/background-bandieuhanh.jpg);">
        <div class="container ">

            <div class="row bg-white">
                <div class="col-md-12 p-4">
                    <div class="row pb-4">
                        <div class="col-md-8">
                            <div class="breakcrumbs-child">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb breadcrumbs">
                                        <li class="breadcrumb-item"><a href="#">Ban giám đốc</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <header class="entry-header">
                                <h1 class="entry-title h2 font-weight-bold">TRẦN VĂN TỈNH | TONY</h1>
                            </header>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="\images\tran-van-tinh-2.jpg">
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-3">
                                        <h2 class="h5 font-weight-bold m-0">Nhà sáng lập - Tổng giám đốc IMM Group</h2>
                                        <span><em>Email: tony@imm.group</em></span>
                                    </div>

                                    <div class="entry-content text-justify">
                                        Trước khi thành lập Công ty Di trú (IMM Immigration), công ty đầu tiên của IMM Group, ông Tỉnh từng làm việc trong lĩnh vực lữ hành quốc tế, tư vấn đầu tư, xúc tiến thương mại và công nghệ thông tin. Vượt qua nhiều thử thách khắt khe về phẩm chất cá nhân,
                                        doanh nhân, ông đã nhận được sự tín nhiệm và trở thành đối tác độc quyền cho nhiều công ty luật, thương mại uy tín ở nhiều nước trên thế giới. Ông là người đưa ra sứ mệnh, giá trị cho IMM Group, đồng thời xây dựng
                                        quy chuẩn, quy trình dịch vụ và thiết lập hệ thống làm việc giữa các văn phòng Việt Nam cũng như với phía đối tác. Với ông, sự tín nhiệm của khách hàng là nền tảng cho sự phát triển bền vững trong tương lai. Quy
                                        tắc và mục tiêu ông đề ra cho công ty là trung thực, thẳng thắn, chia sẻ, giúp đỡ, tin cậy và chuyên nghiệp. Để thực hiện sứ mệnh đóng góp vào sự phát triển chung của cộng đồng, ông Tỉnh và gia đình đã thành lập
                                        một tổ chức từ thiện nhằm giúp đỡ học sinh nghèo hiếu học và những người có hoàn cảnh khó khăn, cơ nhỡ. Mục tiêu ông đặt ra là vào năm 2020, IMM Group sẽ có một quỹ từ thiện đủ lớn để giúp đỡ thêm cho nhiều người.
                                        Ông đã có những chia sẻ về cuộc sống, quá trình lập nghiệp và triết lý kinh doanh của mình trong một bài viết trên VnExpress. Tìm hiểu thêm về tiểu sử và xem các bài chia sẻ của ông Tỉnh tại blog cá nhân www.tonytinh.me
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>

</div>




{% endblock %}