{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">
    <div class="main-content">
        <div class="five-space"></div>
        <div class="text-center ani-left2">
            <h1 class=" h1-product">Kế hoạch quản lý gia sản & lập kế hoạch kế thừa</h1>
        </div>
        <div class="five-space"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style ani-left" style="background: url(/images/product01-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 p-5 ani-right">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="h4 h2-product">THƯỜNG TRÚ -<br>QUỐC TỊCH THỨ HAI</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left sm-mt-3" src="/images/logo-immi.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM Immigration là thành viên đầu tiên của IMM Group (được thành lập từ năm 2005). IMM Immigration cung cấp dịch vụ tư vấn định cư Mỹ, Úc, Canada, châu Âu theo diện đầu tư doanh nhân cho các nhà đầu tư Việt Nam. Với hơn 10 năm kinh nghiệm trong lĩnh vực
                            đầu tư định cư, IMM Immigration đủ khả năng giải quyết những hồ sơ phức tạp cho khách hàng, đáp ứng đúng quy chuẩn của Sở Di trú các nước.
                            <div class="mt-4">
                                <a href="https://www.immigration.com.vn/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="eight-space five-space-mobile"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style order-sm-12 ani-right" style="background: url(/images/product02-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 p-5 order-sm-1 ani-left">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="h4 h2-product">BẤT ĐỘNG SẢN NƯỚC NGOÀI</h2>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left" src="/images/logo-imm-property-1.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM Property là một công ty con của Tập đoàn IMM chuyên tư vấn về lĩnh vực bất động sản ở thị trường Việt Nam và quốc tế cho các nhà đầu tư. IMM Property phân phối nhiều dự án đa dạng bao gồm cao ốc văn phòng, căn hộ dịch vụ, khách sạn, khu vui chơi giải
                            trí và nghỉ dưỡng. IMM Property cũng có mối quan hệ bền vững với nhiều đối tác quốc tế, mang lại lợi ích trong việc hỗ trợ khách hàng về quá trình cho thuê và quản lý bất động sản ở nước ngoài. Bằng kiến thức chuyên môn và
                            sự am hiểu thị trường, IMM Property sẽ giúp quý khách đạt được mục tiêu đầu tư, đảm bảo sự uy tín và hiệu quả.
                            <div class="mt-4">
                                <a href="https://www.imm.property/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="eight-space five-space-mobile"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style ani-left" style="background: url(/images/product01-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 p-5 ani-right">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="h4 h2-product ani-left2">QUỸ ĐẦU TƯ NƯỚC NGOÀI</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left" src="/images/logo-capital.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM Capital là thành viên mới nhất của IMM Group trong năm 2018, chuyên cung cấp các giải pháp đầu tư an toàn, bảo toàn vốn và mang lại thu nhập ổn định cho các nhà đầu tư Việt Nam. Thời điểm hiện tại, sản phẩm đầu tiên được ra mắt là Đầu tư vào Quỹ Bất
                            động sản tại Úc. Trong thời gian tới, IMM Capital sẽ tiếp tục giới thiệu tới khách hàng các cơ hội đầu tư vào Mỹ, Úc dưới dạng Đầu tư Vốn vào các dự án hay các Quỹ đầu tư có đăng ký. Những sản phẩm này hướng đến các khách hàng
                            hiện tại của IMM Group - Những anh, chị đã có thẻ định cư tại nước ngoài hoặc đang có kế hoạch triển khai Định cư trong tương lai, những gia đình có con cái đang Du học, ... Tuy nhiên, lựa chọn đầu tư này cũng hoàn toàn phù
                            hợp với các khách hàng có nhu cầu đa dạng hoá kênh đầu tư và tránh được một số rủi ro so với đầu tư tại Việt Nam (tính an toàn, lạm phát, thu nhập bằng ngoại tệ và những rủi ro tài chính khác).
                            <div class="mt-4">
                                <a href="https://imm.capital/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="eight-space five-space-mobile"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style order-sm-12 ani-right" style="background: url(/images/product04-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 p-5 order-sm-1 ani-left">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="h4 h2-product">TƯ VẤN DU HỌC CHUYÊN BIỆT</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left" width="100" src="/images/logo-education-1.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM Education là công ty tư vấn du học đến các nước Úc, Mỹ và Canada và là thương hiệu trực thuộc IMM Business Travel – công ty thành viên của IMM Group. “Much more than education” là slogan và cũng là kim chỉ nam cho mọi hoạt động tại IMM Education.
                            Chúng tôi tư vấn thông tin các trường học tại Mỹ, Úc, Canada, hoàn thiện thủ tục xin nhập học và xin visa du học.
                            <div class="mt-4">
                                <a href="https://www.imm.education/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div class="eight-space five-space-mobile"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style ani-left" style="background: url(/images/product05-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 p-5 ani-right">
                    <div class="row">
                        <div class="col-md-7 ">
                            <h2 class="h4 h2-product">DU LỊCH CÔNG TÁC -<br>THƯƠNG MẠI</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left" width="70" src="/images/Logo-IMM-Business-Travel.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM Business Travel là đơn vị chuyên tổ chức những chương trình tour đặc thù, phục vụ mục đích xúc tiến thương mại, đầu tư cho doanh nhân. Với những lợi thế sẵn có của IMM Group cùng mạng lưới cung ứng, thương mại toàn cầu, IMM Business Travel có thể
                            tổ chức các tour: khảo sát đầu tư định cư, tìm kiếm đối tác và khách hàng, thành lập doanh nghiệp tại Việt Nam, Mỹ, Canada, Úc, châu Âu, Hong Kong, Singapore…
                            <div class="mt-4">
                                <a href="https://imm.travel/vn/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="eight-space five-space-mobile"></div>
        <section id="immi" class="">
            <div class="row">
                <div class="col-md-7 min-height-170 bg-style order-sm-12 ani-right" style="background: url(/images/product06-page.png) no-repeat;background-size: cover;"></div>
                <div class="col-md-5 pt-5 pr-5 pl-5 order-sm-1 ani-left">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="h4 h2-product">TƯ VẤN ĐẦU TƯ NƯỚC NGOÀI<br>VÀO VIỆT NAM</h2>
                        </div>
                        <div class="col-md-5 text-right">
                            <div class="one-space"></div>
                            <img class="float-xs-left" width="200" src="/images/logo-imm-fdi.png">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pt-4 text-justify">
                            IMM FDI Services (Đầu tư trực tiếp nước ngoài) là dịch vụ của IMM Group, tập trung vào việc tối ưu hóa nguồn đầu tư nước ngoài vào Việt Nam và kết nối các doanh nhân trong nước với các cơ hội phát triển kinh doanh nước ngoài, bao gồm (nhưng không giới
                            hạn) các dự án bất động sản, năng lượng sạch và cơ sở hạ tầng. Các dịch vụ bao gồm (nhưng không giới hạn) Môi giới, Phát triển dự án, Sát nhập & Chuyển giao doanh nghiệp, và Tư vấn cấu trúc doanh nghiệp. Dịch vụ Môi giới của
                            IMM Group kết nối nhà đầu tư nước ngoài và chủ dự án Việt Nam, hỗ trợ nhà đầu tư tìm được cơ hội hợp tác kinh doanh để thành công tại thị trường Việt Nam. Dịch vụ Phát triển dự án phục vụ một phần hoặc toàn bộ các yếu tố hoàn
                            thành dự án bao gồm Cấp phép, Tài chính, Xây dựng và Vận hành. Dịch vụ Sát nhập & Chuyển giao doanh nghiệp giúp doanh nghiệp nước ngoài tham gia và vận hành hiệu quả tại thị trường Việt Nam. Dịch vụ Tư vấn cấu trúc doanh nghiệp
                            giúp khách hàng thành lập và xây dựng doanh nghiệp thành công. Các dịch vụ của chúng tôi mở ra cho nhà đầu tư các phương án để khởi nghiệp và vận hành để doanh nghiệp hoạt động ổn định và phát triển.
                            <div class="mt-4">
                                <a href="https://fdi.imm.group/" target="_blank" class="btn btn-danger btn-product">Đến website</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <div class="five-space"></div>
    </div>

</div>




{% endblock %}