{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">
    <img class="col-100" src="/images/partner-banner.jpg" alt="banner-home.jpg">
    <div class="parent-breakcrumbs">
        <div class="container">
            <div class="">
                <ul class="breadcrumb">
                    <li><a href="/vn/">TRANG CHỦ</a></li>
                    <li><span class="icon-breadcrumb"></span></li>
                    <li><a href="/vn/">ĐỐI TÁC</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="main-content">
    <section id="partner" class="">
        <div class="container">
            <div class="five-space"></div>
            <div class="text-center ani-left2">
                <h1 class=" h1-product ">BẤT ĐỘNG SẢN</h1>
            </div>
            <div class="five-space"></div>
            <div class="row">
                <div class="col-md-4 ani-right" >
                    <div class="border-ani center">
                        <div class="border-tran">
                            <img class=" " src="https://www.imm.group/images/logo/logo-partner-1.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-4  ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-2.jpg"></div></div>
                </div>
                <div class="col-md-4  ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-3.jpg"></div></div>
                </div>
                <div class="col-md-4  ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-4.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-5.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-6.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-7.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-8.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                    <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-9.jpg"></div></div>
                </div>
            </div>                                    
        </div>   
        
    </section>
    <section class="">
        <div class="container">
            <div class="five-space"></div>
                <div class="five-space"></div>
                <div class="text-center ani-left2">
                    <h1 class=" h1-product">DI TRÚ</h1>
                </div>
                <div class="five-space"></div>
                <div class="row">
                    <div class="col-md-4 ani-right">
                            <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-10.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-11.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-12.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-13.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-14.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-15.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-16.jpg"></div></div>
                    </div>
                    <div class="col-md-4 ani-right">
                       <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-17.jpg"></div></div>
                    </div>
                </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="five-space"></div>
            <div class="five-space"></div>
            <div class="text-center ani-left2">
                <h1 class=" h1-product">VĂN PHÒNG LUẬT</h1>
            </div>
            <div class="five-space"></div>
            <div class="row">
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-18.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-19.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-20.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-21.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-22.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-23.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-24.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-25.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-26.jpg"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="five-space"></div>
            <div class="five-space"></div>
            <div class="text-center ani-left2">
                <h1 class=" h1-product">TÀI CHÍNH</h1>
            </div>
            <div class="five-space"></div>
            <div class="row">
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-27.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-28.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-29.jpg"></div></div>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="five-space"></div>
            <div class="five-space"></div>
            <div class="text-center ani-left2">
                <h1 class=" h1-product">NGÂN HÀNG</h1>
            </div>
            <div class="five-space"></div>
            <div class="row">
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-30.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-31.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-32.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-33.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-34.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-35.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-36.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-37.jpg"></div></div>
                </div>
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-38.jpg"></div></div>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="five-space"></div>
            <div class="five-space"></div>
            <div class="text-center ani-left2">
                <h1 class=" h1-product">DU LỊCH DOANH NHÂN</h1>
            </div>
            <div class="five-space"></div>
            <div class="row">
                <div class="col-md-4 ani-right">
                   <div class="border-ani center"><div class="border-tran"><img src="https://www.imm.group/images/logo/logo-partner-39.jpg"></div></div>
                </div>
            </div>
            <div class="five-space"></div>
            <div class="five-space"></div>
        </div>
    </section>


    </div>
    

</div>




{% endblock %}