{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}{% include "modules/banner.html" %}

<section>
    <div class="container shadow-container bg-gradient">
        <div class="row ">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="/vn/">Trang chủ</a></li>
                    <li><span aria-hidden="true" class="arrow_carrot-right"></span></li>
                    <li><a href="/vn/">Tin tức</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-0 px-5 py-4" >
            <div class="col-md-12">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold text-default">01.</span><br>Tin tức
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mb-service page-project">
            <div class="col-md-12 p-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title "><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title "><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title"><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title "><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title "><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title"><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title"><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content text-left">
                                <h4 class="card__project-title "><a href="detail1.html">05 ĐIỀU NGỘ NHẬN KHI KINH DOANH TRÊN AIRBNB</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p class="mb-0"><img src="images/arrow-icon-right.png"></p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-5 bg-default1"></section>
{% endblock %}