{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}{% include "modules/banner.html" %}

<section>
    <div class="container shadow-container bg-gradient">
        <div class="row ">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="/vn/">Trang chủ</a></li>
                    <li><span aria-hidden="true" class="arrow_carrot-right"></span></li>
                    <li><a href="/vn/">Chương trình</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-0 p-5">
            <div class="col-md-5 pr-5">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold">01.</span><br>Hình ảnh khóa học mới nhất
                        </h2>
                    </div>
                    <div class="cart-about">
                        <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ năng cũng
                            như kinh nghiệm sâu rộng trong nhóm ngành dịch vụ, nhà hàng – khách sạn.
                            Chúng tôi tập trung vào sự nghiên cứu, tư vấn, mang đến các giải pháp nhằm củng cố, nâng cao
                            năng lực cạnh tranh và phát triển doanh nghiệp cho các đối tác.</p>
                        <p><img src="images/arrow-icon-right.png"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <section class="banner-top">
                    <div id="program1" class="carousel  slide  carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3 class="font-weight-bold">Tại Sao Là Chúng Tôi?</h3>
                                    <p class="mb-0">Với thông điệp “Đưa bạn đến thành công” chúng tôi tự tin sẽ đem đến
                                        cho bạn những giải pháp, chiến lược phù hợp nhất với doanh nghiệp của bằng các
                                        gói dịch vụ tư vấn, đưa ra giải pháp thực tế và chuyên nghiệp</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about2.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Làm Như Thế Nào?</h3>
                                    <p class="mb-0">Thông qua những kế hoạch chi tiết cũng như các giải pháp cá nhân
                                        chuyên biệt cho từng khách hàng, chúng tôi sẽ đưa doanh nghiệp của bạn sẽ dễ
                                        dàng tối ưu hóa khách hàng cũng như thị trường mục tiêu.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Chúng Tôi Làm Gì?</h3>
                                    <p class="mb-0">Chúng tôi luôn thiết lập và vận hành các dự án mà đảm bảo doanh
                                        nghiệp được chuẩn bị vững chắc từ ban đầu với tỉ lệ thành công cao nhất. Ngoài
                                        ra, chúng tôi cũng cung cấp dịch vụ đào tạo để tăng cường chất lượng cho đội ngũ
                                        nhân viên của doanh nghiệp bằng những kỹ năng và kiến thức sâu rộng trong ngành
                                        dịch vụ nhà hàng khách sạn.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-up" href="#program1" data-slide="prev">
                            <span aria-hidden="true" class="arrow_carrot-up"></span>
                        </a>
                        <a class="carousel-control-down" href="#program1" data-slide="next">
                            <span aria-hidden="true" class="arrow_carrot-down"></span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row row-0 p-5">
            <div class="col-md-7">
                <section class="banner-top">
                    <div id="program2" class="carousel  slide  carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3 class="font-weight-bold">Tại Sao Là Chúng Tôi?</h3>
                                    <p class="mb-0">Với thông điệp “Đưa bạn đến thành công” chúng tôi tự tin sẽ đem đến
                                        cho bạn những giải pháp, chiến lược phù hợp nhất với doanh nghiệp của bằng các
                                        gói dịch vụ tư vấn, đưa ra giải pháp thực tế và chuyên nghiệp</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about2.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Làm Như Thế Nào?</h3>
                                    <p class="mb-0">Thông qua những kế hoạch chi tiết cũng như các giải pháp cá nhân
                                        chuyên biệt cho từng khách hàng, chúng tôi sẽ đưa doanh nghiệp của bạn sẽ dễ
                                        dàng tối ưu hóa khách hàng cũng như thị trường mục tiêu.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Chúng Tôi Làm Gì?</h3>
                                    <p class="mb-0">Chúng tôi luôn thiết lập và vận hành các dự án mà đảm bảo doanh
                                        nghiệp được chuẩn bị vững chắc từ ban đầu với tỉ lệ thành công cao nhất. Ngoài
                                        ra, chúng tôi cũng cung cấp dịch vụ đào tạo để tăng cường chất lượng cho đội ngũ
                                        nhân viên của doanh nghiệp bằng những kỹ năng và kiến thức sâu rộng trong ngành
                                        dịch vụ nhà hàng khách sạn.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-up" href="#program2" data-slide="prev">
                            <span aria-hidden="true" class="arrow_carrot-up"></span>
                        </a>
                        <a class="carousel-control-down" href="#program2" data-slide="next">
                            <span aria-hidden="true" class="arrow_carrot-down"></span>
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 pl-5">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold">02.</span><br>Hình ảnh khóa học mới nhất
                        </h2>
                    </div>
                    <div class="cart-about">
                        <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ năng cũng
                            như kinh nghiệm sâu rộng trong nhóm ngành dịch vụ, nhà hàng – khách sạn.
                            Chúng tôi tập trung vào sự nghiên cứu, tư vấn, mang đến các giải pháp nhằm củng cố, nâng cao
                            năng lực cạnh tranh và phát triển doanh nghiệp cho các đối tác.</p>
                        <p><img src="images/arrow-icon-left.png"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-0 p-5">
            <div class="col-md-5 pr-5">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold">03.</span><br>Hình ảnh khóa học mới nhất
                        </h2>
                    </div>
                    <div class="cart-about">
                        <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ năng cũng
                            như kinh nghiệm sâu rộng trong nhóm ngành dịch vụ, nhà hàng – khách sạn.
                            Chúng tôi tập trung vào sự nghiên cứu, tư vấn, mang đến các giải pháp nhằm củng cố, nâng cao
                            năng lực cạnh tranh và phát triển doanh nghiệp cho các đối tác.</p>
                        <p><img src="images/arrow-icon-right.png"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <section class="banner-top">
                    <div id="program3" class="carousel  slide  carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3 class="font-weight-bold">Tại Sao Là Chúng Tôi?</h3>
                                    <p class="mb-0">Với thông điệp “Đưa bạn đến thành công” chúng tôi tự tin sẽ đem đến
                                        cho bạn những giải pháp, chiến lược phù hợp nhất với doanh nghiệp của bằng các
                                        gói dịch vụ tư vấn, đưa ra giải pháp thực tế và chuyên nghiệp</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about2.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Làm Như Thế Nào?</h3>
                                    <p class="mb-0">Thông qua những kế hoạch chi tiết cũng như các giải pháp cá nhân
                                        chuyên biệt cho từng khách hàng, chúng tôi sẽ đưa doanh nghiệp của bạn sẽ dễ
                                        dàng tối ưu hóa khách hàng cũng như thị trường mục tiêu.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Chúng Tôi Làm Gì?</h3>
                                    <p class="mb-0">Chúng tôi luôn thiết lập và vận hành các dự án mà đảm bảo doanh
                                        nghiệp được chuẩn bị vững chắc từ ban đầu với tỉ lệ thành công cao nhất. Ngoài
                                        ra, chúng tôi cũng cung cấp dịch vụ đào tạo để tăng cường chất lượng cho đội ngũ
                                        nhân viên của doanh nghiệp bằng những kỹ năng và kiến thức sâu rộng trong ngành
                                        dịch vụ nhà hàng khách sạn.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-up" href="#program3" data-slide="prev">
                            <span aria-hidden="true" class="arrow_carrot-up"></span>
                        </a>
                        <a class="carousel-control-down" href="#program3" data-slide="next">
                            <span aria-hidden="true" class="arrow_carrot-down"></span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
        <div class="row row-0 p-5">
            <div class="col-md-7">
                <section class="banner-top">
                    <div id="program4" class="carousel  slide  carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3 class="font-weight-bold">Tại Sao Là Chúng Tôi?</h3>
                                    <p class="mb-0">Với thông điệp “Đưa bạn đến thành công” chúng tôi tự tin sẽ đem đến
                                        cho bạn những giải pháp, chiến lược phù hợp nhất với doanh nghiệp của bằng các
                                        gói dịch vụ tư vấn, đưa ra giải pháp thực tế và chuyên nghiệp</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about2.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Làm Như Thế Nào?</h3>
                                    <p class="mb-0">Thông qua những kế hoạch chi tiết cũng như các giải pháp cá nhân
                                        chuyên biệt cho từng khách hàng, chúng tôi sẽ đưa doanh nghiệp của bạn sẽ dễ
                                        dàng tối ưu hóa khách hàng cũng như thị trường mục tiêu.</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="images/about.jpg" alt="Los Angeles">
                                <div class="content-about">
                                    <h3>Chúng Tôi Làm Gì?</h3>
                                    <p class="mb-0">Chúng tôi luôn thiết lập và vận hành các dự án mà đảm bảo doanh
                                        nghiệp được chuẩn bị vững chắc từ ban đầu với tỉ lệ thành công cao nhất. Ngoài
                                        ra, chúng tôi cũng cung cấp dịch vụ đào tạo để tăng cường chất lượng cho đội ngũ
                                        nhân viên của doanh nghiệp bằng những kỹ năng và kiến thức sâu rộng trong ngành
                                        dịch vụ nhà hàng khách sạn.</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-up" href="#program4" data-slide="prev">
                            <span aria-hidden="true" class="arrow_carrot-up"></span>
                        </a>
                        <a class="carousel-control-down" href="#program4" data-slide="next">
                            <span aria-hidden="true" class="arrow_carrot-down"></span>
                        </a>
                    </div>
                </section>
            </div>
            <div class="col-md-5 pl-5">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold">04.</span><br>Hình ảnh khóa học mới nhất
                        </h2>
                    </div>
                    <div class="cart-about">
                        <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ năng cũng
                            như kinh nghiệm sâu rộng trong nhóm ngành dịch vụ, nhà hàng – khách sạn.
                            Chúng tôi tập trung vào sự nghiên cứu, tư vấn, mang đến các giải pháp nhằm củng cố, nâng cao
                            năng lực cạnh tranh và phát triển doanh nghiệp cho các đối tác.</p>
                        <p><img src="images/arrow-icon-left.png"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-5 bg-default1"></section>
{% endblock %}