{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}{% include "modules/banner.html" %}

<section>
    <div class="container shadow-container bg-gradient">
        <div class="row ">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="/vn/">Trang chủ</a></li>
                    <li><span aria-hidden="true" class="arrow_carrot-right"></span></li>
                    <li><a href="/vn/">Dự án</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-0 px-5 py-4" >
            <div class="col-md-12">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold text-default">01.</span><br>Dự án
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  mb-service page-project">
            <div class="col-md-12 p-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">1. Boutique Hotels Cocobay Danang</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">2. The Cliff Resort & Residences</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">3. Hoang Yen Group</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">4. The Sailing Bay Beach Resort</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">5. Grill & Cheer</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">6. SHP GOUMET</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">7. Sonata Resort & Spa</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card__project">
                            <div class="card__project-bg-photo" style="background: url('images/about.jpg') center/cover no-repeat;height: 300px;">
                                <a href="#!" class="link-as"></a>
                            </div>
                            <div class="card__project-content">
                                <h4 class="card__project-title"><a href="#!">8. XQ Việt Nam</a></h4>
                                <p>Guider JCS với đội ngũ gồm những thành viên trẻ trung, sáng tạo, có kiến thức, kỹ
                                    năng</p>
                                    <p><img src="images/arrow-icon-right.png"></p>
                                <p><a href="#!" class="btn btn-default-w">Dịch vụ cung cấp</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-5 bg-default1"></section>
{% endblock %}