{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}{% include "modules/banner.html" %}

<section>
    <div class="container shadow-container bg-gradient">
        <div class="row ">
            <div class="breadcrumbs">
                <ul class="breadcrumb">
                    <li><a href="/vn/">Trang chủ</a></li>
                    <li><span aria-hidden="true" class="arrow_carrot-right"></span></li>
                    <li><a href="/vn/">Dịch vụ</a></li>
                </ul>
            </div>
        </div>
        <div class="row row-0 p-5" >
            <div class="col-md-12">
                <div class="">
                    <div class="title-home">
                        <h2 class="h1"><span class="text-default">...</span><span
                                class="number-title font-pt-sans font-weight-bold text-default">01.</span><br>Dịch vụ đặc biệt
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row  px-5 mb-service">
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-01.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Quản lý khách sạn toàn diện</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-03.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Quản Lý Tiếp Thị Và Kinh Doanh</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-06.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Phát Triển Kinh Doanh</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-02.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Tư Vấn Đầu Tư Bất Động Sản</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-04.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Quản Lý Doanh Thu</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card__service">
                    <div class="row align-items-center">
                        <div class="col-md-3 text-right">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="card__icon">
                                <img src="images/icon-service-05.png">
                            </div>
                        </div>
                        <div class="col-md-3 text-left">
                            <span class="card__dot">...</span>
                        </div>
                        <div class="col-md-12 text-center">
                            <h3>Hỗ Trợ Tài Chính Và Kế Toán</h3>
                            <div class="card__description">Chúng tôi cung cấp các kế hoạch tổng hợp bao gồm những khía cạnh khác nhau của doanh nghiệp nhằm đảm bảo sản phẩm của khách hàng sẽ là tiên phong trong thị trường, bảo đảm lợi nhuận đầu tư (ROI).</div>
                            <p><a href="#!" class="btn btn-default-w1">Xem thêm</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="py-5 bg-default1"></section>
{% endblock %}