{% extends 'layouts/application.html' %}{% block bodyClass %}class="home-page"{% endblock %} {% block header %} {% include "modules/header.html" %} {% endblock %} {% block content %}
<div class="pt-content">

    <div class="main-content bg-truyenthong pt-5 pb-5" style="background-image: url(/images/background-truyenthong-pr.jpg);">
        <div class="container ">

            <div class="row bg-white p-4">
                <div class="col-md-12 p-0">
                    <div class="row pb-4">
                        <div class="col-md-12">
                            <div class="breakcrumbs-child">
                                <nav aria-label="breadcrumb ">
                                    <ol class="breadcrumb breadcrumbs">
                                        <li class="breadcrumb-item"><a href="#">Tất cả</a></li>
                                        <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                                        <li class="breadcrumb-item"><a href="#">Chia sẻ</a></li>
                                        <li class="breadcrumb-item"><a href="#">Thiện nguyện</a></li>
                                        <li class="breadcrumb-item"><a href="#">Văn hóa doanh nghiệp</a></li>
                                        <li class="breadcrumb-item"><a href="#">Video</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Tư liệu</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-thumbnail-news" style="background-image: url(/images/su-menh-immgroup-1.jpg)">
                                <a class="link-as" href="/"></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-news">
                                <div class="date">05-05-2019</div>
                                <div class="title-news">
                                    <h3 class="font-weight-bold h4"><a href="#!">IMM Group và Arton Capital giới thiệu 2 cơ hội đầu tư giúp người Việt sở hữu thêm quốc tịch châu Âu</a></h3>
                                    <p class="text-justify">Đáp ứng nhu cầu trở thành công dân toàn cầu ngày càng tăng, IMM Group phối hợp cùng Arton Capital giới thiệu với nhà đầu tư Việt hai chương trình đầu tư hấp dẫn để sở hữu vĩnh viễn “thẻ xanh” châu Âu chỉ trong khoảng
                                        thời gian từ 6 tháng đến 2 năm.</p>
                                </div>
                                <div class="tags">
                                    <div class="icon-tag"><span class="icon-price-tag"> </span></div>
                                    <div class="content-tag">
                                        <a href="/vn/tim-kiem.html?keyword=IMM Group" title="IMM Group">IMM Group</a>,
                                        <a href="/vn/tim-kiem.html?keyword=Định cư châu Âu" title=" Định cư châu Âu">Định cư châu Âu</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row border-top mt-4 ml-0 mr-0 mb-4"></div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="img-thumbnail-news" style="background-image: url(/images/su-menh-immgroup-1.jpg)">
                                <a class="link-as" href="/"></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-news">
                                <div class="date">05-05-2019</div>
                                <div class="title-news">
                                    <h3 class="font-weight-bold h4"><a href="#!">IMM Group và Arton Capital giới thiệu 2 cơ hội đầu tư giúp người Việt sở hữu thêm quốc tịch châu Âu</a></h3>
                                    <p class="text-justify">Đáp ứng nhu cầu trở thành công dân toàn cầu ngày càng tăng, IMM Group phối hợp cùng Arton Capital giới thiệu với nhà đầu tư Việt hai chương trình đầu tư hấp dẫn để sở hữu vĩnh viễn “thẻ xanh” châu Âu chỉ trong khoảng
                                        thời gian từ 6 tháng đến 2 năm.</p>
                                </div>
                                <div class="tags">
                                    <div class="icon-tag"><span class="icon-price-tag"> </span></div>
                                    <div class="content-tag">
                                        <a href="/vn/tim-kiem.html?keyword=IMM Group" title="IMM Group">IMM Group</a>,
                                        <a href="/vn/tim-kiem.html?keyword=Định cư châu Âu" title=" Định cư châu Âu">Định cư châu Âu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row border-top mt-4 ml-0 mr-0 mb-4"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation" class="page-more">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link active" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>

</div>




{% endblock %}