.card{
    &__about, &__team{
        border: 2px solid #f58220;
        padding: 2.2rem;
        position: relative;
        transition: all .2s;
        h3{
           color: $default;
           font-style: italic;
           font-weight: 600;
           font-size: rem(20);
           font-family: 'PT Sans', sans-serif;
           position: relative;
           margin-bottom: rem(30);
           &::before{
               content: "";
               position: absolute;
               bottom: -7px; 
               left: 0;
               width: 40px;
               height: 3px;
               background: $default1; 
           }
        }
    }
    &__team{
        box-shadow: 2px 0px 7px 1px rgba(132, 129, 129, 0.19);
        border-color: transparent;
        padding: 2.2rem 2.2rem 1rem;
        background: #fff;
        margin-top: 6px;
        h3{
            color: $default1;
            font-style: inherit;
            &::before{
                background: #000; 
                bottom: -15px;
            }
        }
        &:hover{
            border-color: $default;
            img{
                border-color: $default1;
            }
        }
        
    }
    &__detail{
        font-size: rem(14);
        font-weight: 700;
        color:$default1;
        img{
            border: 2px solid $default;
        }
    }
    &__about-icon{
        position: absolute;
        top: -36px;
        right: -3px;
        background: #fff;
        border: 3px solid $default1;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 8px;
    }
}