.content-about{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
    background: #fff;
    padding: 15px;
}
@media screen and (max-width:959px) {
   
}

@media screen and (max-width: 767px) {
   
}

@media screen and (max-width: 567px) {
   
}


