#whatwedo {
    .simple-title {
        font-family: 'commerceB', sans-serif;
        font-size: 30pt;
    }
    .sub-title-line {
        font-family: 'commerceB', sans-serif;
        font-size: 14pt;
        font-weight: bolder;
        line-height: 1.35;
        border-top: 5px solid #801F23;
        border-bottom: 5px solid #801F23;
        max-width: 41%;
        display: inline-block;
        padding: 5px 0;
        letter-spacing: -1px;
        min-width: 480px;
        @media screen and (max-width: 480px) {
            min-width: 90%
        }
    }
}

.whatwedo {
    &_title {
        color: $red-color;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1;
        margin-bottom: 1rem;
        .number {
            font-size: 5rem;
            font-family: 'commerceB', sans-serif;
        }
    }
    &_content {
        font-size: 11pt;
        .circle {
            shape-outside: circle(50%);
            width: 109px;
            height: 200px;
            float: right;
        }
    }
    &_wrap {
        padding: 2rem 0;
        position: absolute;
        top: 1rem;
        left: 0;
        padding: 0 3rem;
    }
    &-img {
        position: relative;
        padding-top: 10rem;
        max-width: 530px;
        margin: 0;
        &:hover {
            background: rgb(0, 30, 56);
            background: linear-gradient(180deg, rgba(0, 30, 56, 1) 0%, rgba(1, 101, 165, 1) 50%, rgba(2, 149, 239, 1) 100%);
            .whatwedo {
                &_content {
                    color: white;
                }
                &_title {
                    color: white
                }
            }
        }
    }
}

@media screen and (max-width:959px) {
    .whatwedo {
        &_wrap {
            padding: 0 1rem;
        }
        &-img {
            padding-top: 15rem;
        }
        &_content .circle {
            width: 170px;
            height: 150px;
            margin-bottom: 200px;
            margin-right: -90px;
        }
    }
}

@media screen and (max-width: 767px) {
    .whatwedo-img {
        padding-top: 15rem;
    }
}

@media screen and (max-width: 567px) {
    .whatwedo {
        &_col {
            max-width: 320px;
            margin: auto;
        }
        &-img {
            padding-top: 23rem;
        }
        &_content {
            font-size: 11pt;
            .circle {
                width: 163px;
                height: 128px;
                margin-bottom: 60rem;
                margin-right: -99px;
            }
        }
    }
}

#founder {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 130px 0 0 130px;
        border-color: transparent transparent transparent $red;
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 130px 130px 0;
        border-color: transparent $red transparent transparent;
    }
}

.founder-left {
    background: url(/images/buy-me-bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.col-100 {
    width: 100%;
}

.title-h2 {
    font-weight: 700;
    color: #fff;
}

.hieght-map iframe {
    min-height: 250px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.posi-relative {
    position: relative;
}

.parallax-window {
    z-index: 2;
    position: relative;
}

#contact {
    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 80px 80px;
        border-color: transparent transparent $red transparent;
    }
    &::before {
        content: "";
        top: 25px;
        right: 25px;
        position: absolute;
        background: url(/images/bg-inside-out.png);
        width: 167px;
        height: 262px;
    }
}

.btn-choose.selected {
    .card-contact {
        background: $red1;
    }
    color: #fff;
    h5 {
        color: #fff;
    }
}

.link-as {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
}

.title-border {
    font-size: $h-title-size;
    font-weight: 700;
    margin: 15px 0;
    position: relative;
    &::after {
        content: "";
        width: 80px;
        height: 5px;
        position: absolute;
        bottom: -10px;
        left: 0;
        background: $red1;
    }
}

.mission {
    background: url(/images/bg-su-menh.jpg) 0% 0% / cover no-repeat fixed;
}

.content-core-value ul {
    list-style-image: url(/images/icon-core-value.png);
    padding-left: 25px;
}

.watch-video {
    position: absolute;
    right: 0;
    bottom: 10px;
    background: url(/images/red-play.png) 0% 0% / contain no-repeat;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        background: url(/images/gray-play.png) 0% 0% / contain no-repeat;
    }
}

#ModalVideo.modal {
    background: url(/images/bg-video-imm-group.jpg) no-repeat;
    background-size: cover;
    .modal-body {
        padding: 0;
    }
    .modal-content {
        border: none;
        background: none;
    }
    .modal-header-1 {
        position: absolute;
        right: -45px;
        top: -45px;
    }
}

.parallax-mirror {
    z-index: 0!important;
}

.components {
    text-align: center;
    height: 94vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.img-thumbnail-news {
    min-height: 190px;
    background-size: contain;
    position: relative;
    background-size: cover;
}

.bg-truyenthong {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sidebar-news {
    position: relative;
    padding: 0 0px 15px 25px;
    border-bottom: 3px solid #CB3439;
    &:before {
        content: "";
        width: 14px;
        position: absolute;
        top: 4px;
        left: 0;
        border-top: 7px solid #F57F94;
        border-bottom: 7px solid #CB3439;
    }
}

.card-leadership {
    text-align: center;
    padding: 25px 0;
}

.card-body-leadership {
    position: relative;
    padding: 10px;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100px;
        height: 3px;
        transform: translateX(-50%);
        background: $red;
    }
}

video {
    object-fit: cover;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    .modal-dialog {
        flex-grow: 1;
    }
}

.btn-product {
    border: 1px solid #fff;
    padding: 10px 20px;
    color: #fff!important;
    text-decoration: none!important;
    transition: all .2s linear;
}

.btn-none-para {
    border: 1px solid #000;
    color: #000!important;
}

.btn-immi {
    &:hover {
        background: $red;
        border: 1px solid $red;
    }
}

.btn-property {
    &:hover {
        background: $property;
        border: 1px solid $property;
        color: #fff!important;
    }
}

.btn-capital {
    &:hover {
        background: $capital;
        border: 1px solid $capital;
        color: #fff!important;
    }
}

.btn-education {
    &:hover {
        background: $education;
        border: 1px solid $education;
        color: #fff!important;
    }
}

.btn-ibt {
    &:hover {
        background: $ibt;
        border: 1px solid $ibt;
        color: #fff!important;
    }
}

.btn-fdi {
    &:hover {
        background: $fdi;
        border: 1px solid $fdi;
        color: #fff!important;
    }
}

.bg-product {
    background: url(/images/about-product01.jpg) no-repeat;
    background-size: cover;
    min-height: 300px;
}

.content-product {
    .title-product {
        font-family: Roboto;
        position: absolute;
        top: 40px;
        left: 0;
        color: #CB3439;
        padding-left: 60px;
        font-size: 20px;
        font-weight: 700;
        span {
            font-size: 62px;
            position: absolute;
            top: -18px;
            left: 10px;
        }
    }
    .link-product {
        position: absolute;
        bottom: 45px;
        left: 0;
        text-align: center;
        width: 100%;
        transition-duration: 0.3s;
        a {
            border: 2px solid #fff;
            padding: 10px 20px;
            color: #fff;
            text-decoration: blink;
            transition-duration: 0.3s;
        }
         :hover {
            background: $red1;
            border: 2px solid $red1;
        }
    }
    .link-all {
        a {
            border: none!important;
            padding: 0;
            text-align: left;
            display: inline-block;
            background: transparent!important;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: -10px;
            height: 2px;
            width: 60px;
            background: $red;
        }
    }
}

.list-banner-product .mobile-image {
    display: none;
}

.h1-product {
    position: relative;
    font-weight: bold;
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 100px;
        background: $red;
    }
}

.h2-product {
    position: relative;
    font-weight: bold;
    color: $red;
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 80px;
        background: #000;
    }
}

.h2-product.down-h {
    font-weight: 100;
    color: #000;
    &::before {
        background: $red1;
    }
}

.btn-product {
    border-radius: 35px;
    font-weight: 100;
    text-transform: capitalize;
    padding: 5px 25px;
}

.btn-social {
    background: #393737;
}

.min-height-170 {
    min-height: 170px;
}

.entry-content {
    img {
        height: 100%;
        max-width: 100%;
    }
}

.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-video {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

@media (min-width: 960px) and (max-width: 1199px) {}

@include media-breakpoint-down(md) {
    .bg-about {
        background: none;
    }
    .left-about {
        margin: 0;
        padding: 0!important;
        box-shadow: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .components {
        height: auto;
    }
    .list-banner-product .desktop-image {
        display: none;
    }
    .list-banner-product .mobile-image {
        display: block;
    }
    .hieght-map iframe {
        position: inherit;
    }
    .btn-video-click {
        width: 100%;
        img {
            width: 40px;
        }
        h2 {
            font-size: rem(18);
            text-align: center;
        }
    }
    .title-product.no-position {
        position: inherit;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 480px) {
    .components {
        height: auto;
    }
    .pt-content {
        padding-top: 0;
    }
    .list-banner-product .desktop-image {
        display: none;
    }
    .list-banner-product .mobile-image {
        display: block;
    }
    .h1-product {
        font-size: 20px;
    }
    .hieght-map iframe {
        position: inherit;
    }
    .float-xs-left {
        float: left;
    }
    .btn-video-click {
        width: 100%;
        img {
            width: 40px;
        }
        h2 {
            font-size: rem(18);
            text-align: center;
        }
    }
    .content-product {
        .title-product {
            font-family: Roboto;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
        }
        .link-product {
            a {
                background: $red1;
                border: 2px solid $red1;
            }
        }
    }
    .entry-content {
        iframe {
            height: 100%;
            max-width: 100%;
        }
    }
    #btnplay {
        width: 20%;
    }
}