.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-control-down,
.carousel-control-up {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 75px;
  height: 25px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  font-size: 50px;
  transition: opacity 0.15s ease;
  text-decoration: blink !important;
}
.carousel-control-up {
  bottom: 60px;
}
.carousel-control-down {
  bottom: 30px;
}


.carousel-indicators-numbers {
    right: -87px;
    left: inherit;
    bottom: 0;
    width: 87px;
    height: 87px;
    margin: 0;
    background: $default;
  li {
    text-indent: 0;
    width: auto;
    height: auto;
    color: $default1;
    background-color: $default;
    transition: all 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: rem(30);
    font-weight: 700;
    &.active{
      opacity: 1;      
    }
    .max-slide{
      font-size: rem(15);
    }
  }
}
#slidehome .carousel-indicators{
    width: auto;
    height: auto;
    text-indent: unset;
    background: #fff;
    left: inherit;
    margin-left: inherit;
    margin-right: 50px;
    margin-bottom: 0;
    color: $default1;
  li {
    width: auto;
    height: auto;
    text-indent: unset;
    min-width: 75px;
    padding: 20px;
    position: relative;
    &:hover{
      color: $default;
    }
    &::after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 90%;
      width: 1px;
      background: #ddd;
    }
    &:last-child:after{
      content: none;
    }
  }
  .active{
    color: $default;
  }
 

}

