.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.carousel-control-down,
.carousel-control-up {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 75px;
  height: 25px;
  color: #fff;
  text-align: center;
  opacity: 0.9;
  font-size: 50px;
  transition: opacity 0.15s ease;
  text-decoration: blink !important;
}
.carousel-control-up {
  bottom: 60px;
}
.carousel-control-down {
  bottom: 30px;
}
.carousel-control-prev, .carousel-control-next{
  width: 5%;
}

.carousel-indicators-numbers {
    right: -87px;
    left: inherit;
    bottom: 0;
    width: 87px;
    height: 87px;
    margin: 0;
    background: $default;
  li {
    text-indent: 0;
    width: auto;
    height: auto;
    color: $default1;
    background-color: $default;
    transition: all 0.25s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: rem(30);
    font-weight: 700;
    &.active{
      opacity: 1;      
    }
    .max-slide{
      font-size: rem(15);
    }
  }
}
#slidehome {
  .bottom-banner{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .social{
      a{
        color: #fff;
      }
    }
    .scrolldown a{  
      font-size: 50px;
      color: #fff;
      padding: 2rem;
      text-decoration: blink;
      -webkit-animation: ani-mouse 1.5s linear infinite;
      -moz-animation: ani-mouse 1.5s linear infinite;
      animation: ani-mouse 1.5s linear infinite;
    }
  }
  .carousel-indicators{
    width: auto;
    height: auto;
    text-indent: unset;
    background: #fff;
    left: inherit;
    margin-left: inherit;
    margin-right: 50px;
    margin-bottom: 0;
    color: $default1;
  li {
    width: auto;
    height: auto;
    text-indent: unset;
    min-width: 75px;
    padding: 20px;
    position: relative;
    opacity: 1;
    &:hover{
      color: $default;
    }
    &::after{
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 90%;
      width: 1px;
      background: #ddd;
    }
    &:last-child:after{
      content: none;
    }
  }
  .active{
    color: $default;
  }
 

}
}
.title-banner{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  h2{
    font-size: 55px;
    color: #fff;
    font-weight: 700;
  }
  .description-banner{
    display: inline-block;
    padding: 5px 10px;
    background: #ffffffd9;
    margin-bottom: 15px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      border: 1px solid #fff;
    }
  }
}

.list-team{
  .slick-dots {
    bottom: -50px;
    li {
      button{
        background: #fff;
        border: 2px solid #fff;
      }
      
    }
  }
}
.list-team{
  .slick-dots li.slick-active button, .slick-dots li:hover button{
    background: #f58220;
    border-color: #f58220;
  }
}

