.breadcrumb {
    background: rgba(199, 199, 199, 0.839216);
    border-radius: 0;
    margin: 0;
    padding: 10px 15px 5px;
    position: relative;
    li {
        font-weight: 400;
        font-size: rem(16) !important;
        margin-bottom: 0;
        position: relative;
        &.active {
            color: $default;
        }
        span{
            padding: 0 5px;
            font-size: 25px;
            color: $default1;
        }
        a {
            text-decoration: none;
          
            &:hover {
                color: $default;
            }
        }
       
    }
}


@media (min-width: 481px) and (max-width: 767px) {
   
  
}

@media only screen and (max-width: 480px) {
    
}