.social{
	ul{
		padding-left: 0;
		li{
			&:before{
				display: none;
			}
		}
	}
	li{
		vertical-align: top;
		list-style: none;
		text-align: left;
		a{
			display: block;
			font-size: 16px;
			color:  $default1;
			text-decoration: none;
			transition: all .25s;
			padding-left: 20px;
			-webkit-transition: all .25s;
			&:hover{
				color:  $default;
			}
		}
		
	}
	label{
		font-weight: 300;
		letter-spacing: 1px;
	}
}