.btn-default-w{
    border: 1px solid #6c757d;
    border-radius: 0;
    font-weight: 400;
    background:#fff;
    &:hover{
        background: $default;
        color: #fff;
        border-color: $default;
    }
}
.btn-default-w1{
    border: 1px solid #6c757d;
    border-radius: 0;
    font-weight: 400;
    background:#fff;
    &:hover{
        background: $default1;
        color: #fff;
        border-color: $default1;
    }
}
.btn-default-slide{
    border-radius: 0;
    font-weight: 400;
    background:#fff;
    transition: all .2s;
    &:hover{
        background: $default;
        color: #fff;
        border-color: $default;
    }
}

.btn-default{
    background: $default;
    color: #fff;
    font-weight: 400;
    font-size: rem(16);
    &:hover{
        background: $link-hover-color;
        color: #fff;
    }
}
.btn-default1{
    background: $default1;
    color: #fff;
    font-weight: 400;
    font-size: rem(16);
    border-radius: 0;
    &:hover{
        background: $link-hover-color;
        color: #fff;
    }
}
.btn-default2{
    background: #fff;
    color: $default;
    font-weight: 400;
    font-size: rem(16);
    border-radius: 4px;
    border: 1px solid $default;
    &:hover{
        background: $link-hover-color;
        color: #fff;
    }
}
