.btn-default-w{
    border: 1px solid #6c757d;
    border-radius: 0;
    font-weight: 400;
    &:hover{
        background: $default;
        color: #fff;
        border-color: $default;
    }
}

.btn-default{
    background: $default;
    color: #fff;
    font-weight: 400;
    font-size: rem(20);
    &:hover{
        background: $link-hover-color;
        color: #fff;
    }
}
