.pt-content {
    padding-top: 100px;
}

.bg-about {
    background: url(/images/about-tony.jpg) no-repeat;
    background-size: 70%;
}

.left-about {
    background: #fff;
    text-align: justify;
    margin-top: 20px;
    -moz-box-shadow: -5px -5px 5px #d0cfce;
    -webkit-box-shadow: -5px -5px 5px #d0cfce;
    box-shadow: 4px 4px 11px #d0cfce;
}